altgraph==0.17
appdirs==1.4.4
astroid==2.4.2
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
display==1.0.0
distlib==0.3.0
Eel==0.12.4
filelock==3.0.12
flake8==3.8.3
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.4
panda==0.3.1
pandas==1.0.3
pefile==2019.4.18
pipenv==2020.6.2
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pygame==1.9.6
PyInstaller==3.6
pylint==2.5.3
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.14.0
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.24
virtualenv-clone==0.5.4
whichcraft==0.6.1
wrapt==1.12.1
zope.event==4.4
zope.interface==5.1.0
